
{% extends 'base.html.twig' %}

{% block body %}
<h1>Tabla de coches de la marca {{ brand.name }}</h1>

<ul>
    {% for car in cars %}
        <li>
            <strong>ID:</strong> {{ car.id }} —
            <strong>Coche:</strong> {{ car.name }}
            <p class="car_name {{ car.name == 'Corolla' ? 'car_special' : '' }} {{ car.name == 'Yaris' ? 'important' : '' }}">
                {{ car.name }}
            </p>
        </li>
    {% else %}
        <li>No hay coches :c</li>
    {% endfor %}
</ul>
{% endblock %}
